.apresentacao {
    display: flex;
}

.apresentacao__descricao {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    padding: 5% 2% 5% 0;
}

.apresentacao__descricao__titulo {
    text-align: start;
    color: var(--branco-titulo);
}

.apresentacao__descricao__paragrafo {
    font-size: 1.25rem;
    color: var(--branco-texto);
    padding: 3% 0;
}

.apresentacao__descricao__lista {
    width: 100%;
    display: flex;
}

.apresentacao__descricao__item {
    padding-right: 5%;
}

.apresentacao__descricao__link {
    display: flex;
    transition: 0.5s;
    transform: translateX(0) scale(1);
}

.apresentacao__descricao__link:hover,
.apresentacao__descricao__link:focus {
    color: var(--amarelo-escuro);
    transform: translateX(5px) scale(1);
}

.apresentacao__descricao__icone {
    align-self: center;
    margin-left: .5rem;
}

.apresentacao__perfil {
    width: 30%;
    height: 30%;
    margin: auto;
    border-radius: 100%;
    box-shadow: 0 0 10px 2px #e5d863;
    opacity: 0.8;
    transition: opacity 0.5s, box-shadow 0.5s, transform 1s;
    transform: translateX(0) scale(1);
}

.apresentacao__perfil:hover {
    box-shadow: 0 0 20px 5px #e5d863;
    opacity: 1;
    transform: translateX(10px) scale(1.1);
}

/* Tablet */

@media screen and (max-width:1023px) {

    .apresentacao {
        padding-top: 7%;
        padding-bottom: 7%;
    }

    .apresentacao__descricao {
        padding: 0 2% 0 0;
    }

    .apresentacao__descricao__paragrafo {
        font-size: 1rem;
    }

    .apresentacao__perfil {
        width: 25%;
        height: 25%;
    }

    .apresentacao__descricao__link {
        font-size: 1rem;
        color: var(--branco-titulo);
    }
}

/* Smartphone */

@media screen and (max-width:767px) {

    .apresentacao {
        flex-direction: column-reverse;
        padding-top: 0;
    }

    .apresentacao__perfil {
        margin: 5% 0;
    }

    .apresentacao__descricao {
        padding: 0;
    }

    .apresentacao__descricao__lista {
        justify-content: space-between;
    }

    .apresentacao__descricao__item {
        padding: 0;
    }

    .apresentacao__descricao__icone {
        font-size: .8rem;
        margin-left: 2px;
    }

}