.apresentacao {
    display: flex;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.apresentacao__descricao {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    padding-right: 2%;
}

.apresentacao__descricao__titulo {
    font-weight: 700;
    color: var(--branco-titulo);
}

.apresentacao__descricao__paragrafo {
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--branco-texto);
}

.apresentacao__descricao__lista {
    display: flex;
}

.apresentacao__descricao__item {
    margin-right: 3rem;
}

.apresentacao__descricao__link {
    display: flex;
    transition: 0.5s;
    transform: translateX(0) scale(1);
}

.apresentacao__descricao__link:hover,
.apresentacao__descricao__link:focus {
    color: var(--amarelo-escuro);
    transform: translateX(5px) scale(1);
}

.apresentacao__descricao__icone {
    align-self: center;
    margin-left: .5rem;
}

.apresentacao__perfil {
    width: 25vw;
    height: 25vw;
    border-radius: 100%;
    box-shadow: 0 0 10px 2px #e5d863;
    opacity: 0.8;
    transition: 1s;
    transform: translateX(0) scale(1);
}

.apresentacao__perfil:hover,
.apresentacao__perfil:focus {
    box-shadow: 0 0 20px 5px #e5d863;
    opacity: 1;
    transform: translateX(10px) scale(1.2);
}