:root {
    --fundo-azul: #0b054f;
    --fundo-amarelo: #e3d97e;
    --branco-titulo: #ffffff;
    --branco-texto: #bcc2d1;
    --azul-titulo: #0c13a4;
    --azul-texto: #1118e0;
    --cinza-escuro: #1c1d2d;
    --amarelo-escuro: #e9fe03;
    --amarelo-claro: #b7be2d;

    --cor-link: #c6c6c6;
}

body {
    background-color: var(--fundo-azul);
    font-family: 'Raleway', sans-serif;
    line-height: normal;
}

a {
    text-decoration: none;
    color: var(--cor-link);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

::placeholder {
    font-family: 'Raleway', sans-serif;
}

.tudo {
    display: flex;
    flex-direction: column;
}

.container {
    padding: 0 10%;
}

.botao {
    font-size: 1.2rem;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    color: var(--branco-titulo);
    transition: padding 0.5s;
}

.botao:hover {
    cursor: pointer;
    padding: 1.2rem;
}

@media screen and (min-width:1024px) {}