.cabecalho {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.cabecalho__titulo {
    display: flex;
    align-items: center;
}

.cabecalho__icone {
    color: var(--amarelo-escuro);
    transition: 1s;
    transform: rotate(0) scale(1);
}

.cabecalho__icone:hover,
.cabecalho__icone:focus {
    transform: rotate(360deg) scale(1.5);
}

.cabecalho__nome {
    color: var(--branco-titulo);
    margin-left: .5rem;
}

.cabecalho__lista {
    display: flex;
    align-items: center;
}

.cabecalho__item {
    margin-right: 2rem;
}

.cabecalho__item:last-child {
    margin-right: 0;
}

.cabecalho__link--contato,
.cabecalho__item__contato {
    color: var(--branco-titulo);
    font-weight: 700;
}

.cabecalho__link:hover {
    color: var(--amarelo-escuro);
}

.cabecalho__item__contato {
    display: none;
}

/* Tablet */

@media screen and (max-width:1024px) {
    .cabecalho__lista {
        display: none;
    }

    .cabecalho__item__contato {
        display: flex;
        align-self: center;
    }
}

/* Smartphone */

@media screen and (max-width:768px) {
    .cabecalho__link--contato {
        font-weight: 400;
        color: var(--branco-texto);
    }
}