.cabecalho {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.cabecalho__titulo {
    display: flex;
    align-items: center;
}

.cabecalho__icone {
    font-size: 1rem;
    color: var(--amarelo-escuro);
    transition: 1s;
    transform: rotate(0) scale(1);
}

.cabecalho__icone:hover,
.cabecalho__icone:focus {
    transform: rotate(360deg) scale(1.5);
}

.cabecalho__nome {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--branco-titulo);
    margin-left: .5rem;
}

.cabecalho__lista {
    display: flex;
    height: 100%;
    align-items: center;
}

.cabecalho__item {
    margin-right: 2rem;
}

.cabecalho__item:nth-last-child(1) {
    margin-right: 0;
}

.cabecalho__link--contato {
    color: var(--branco-titulo);
}

.cabecalho__link:hover {
    color: var(--amarelo-escuro);
}