.contato {
    display: flex;
    justify-content: space-between;
    background-color: var(--fundo-amarelo);
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.contato__imagem {
    background-image: url('../img/contato-imagem.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 40rem;
    width: 40rem;
}

.contato__dados {
    position: relative;
    display: inline-block;
    padding-left: 2.5%;
}

.contato__titulo {
    text-align: start;
    margin-bottom: 1rem;
}

.contato__descricao--infoadd {
    display: none;
}

.contato__formulario {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1rem;
}

.contato__formulario__campo {
    position: relative;
    margin: 2.5% 0;
    border-radius: 3px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
}

.contato__formulario__campo--textarea {
    height: 8vw;
    margin-bottom: 5rem;
}

.contato__input {
    width: 95%;
    padding: 4% 2.5%;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    border: none;
    border-radius: 3px;
}

.contato__input--textarea {
    resize: none;
    height: 5.15vw;
}

.contato__label {
    font-size: 1rem;
    color: var(--cinza-escuro);
    position: absolute;
    top: 30%;
    left: 2%;
    pointer-events: none;
    transition: 0.2s ease all;
}

.contato__label--textarea {
    top: 15%
}

.contato__erro {
    color: red;
}

.contato__modal {
    display: none;
}

.contato__input:hover,
.contato__input:valid,
.contato__input:focus {
    outline: none;
    border-bottom: 2px solid var(--azul-texto);
}

.contato__input:hover+.contato__label,
.contato__input:valid+.contato__label,
.contato__input:focus-within+.contato__label {
    top: 2%;
    left: .5%;
    font-size: .8rem;
    color: var(--azul-texto);
}

.contato__botao {
    position: absolute;
    bottom: 0;
    align-self: flex-start;
    background-color: var(--fundo-azul);
}

/* Tablet */

@media screen and (max-width:1024px) {
    .contato__imagem {
        display: none;
    }

    .contato__descricao--infoadd {
        display: flex;
    }

    .contato__dados {
        width: 100%;
        padding: 0;
    }

    .contato__input {
        padding: 3% 2.5%;
    }

    .contato__formulario__campo--textarea {
        height: 15vw;
    }

    .contato__input--textarea {
        height: 9.55vw;
    }
}

/* Smartphone */

@media screen and (max-width:768px) {

    .contato {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .contato__dados {
        width: 90%;
        margin: auto;
    }

    .contato__input {
        padding: 6% 2.5%;
    }

    .contato__formulario__campo--textarea {
        height: 40vw;
    }

    .contato__input--textarea {
        height: 30vw;
    }
}