.formacao {
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    background-color: var(--fundo-amarelo);
}

.formacao__titulo {
    color: var(--azul-titulo);
    margin: 3% 0;
}

.formacao__lista {
    display: flex;
    justify-content: space-between;
}

.formacao__item {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    width: 31%;
}

.formacao__imagem__container {
    display: flex;
    height: 80%;
    background-color: white;
    border-radius: 2px;
}

.formacao__imagem {
    margin: auto;
    width: 70%;
    height: 60%;
}

.formacao__descricao {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--azul-titulo);
    padding: .3rem 0;
}

.formacao__tempo {
    color: var(--azul-texto);
}

/* Tablet */

@media screen and (max-width:1024px) {
    .formacao__lista {
        margin: 2% 0;
    }

    .formacao__imagem__container {
        height: 60%;
    }
}

/* Smartphone */

@media screen and (max-width:768px) {

    .formacao {
        padding-bottom: 0;
    }

    .formacao__lista {
        flex-direction: column;
        margin-bottom: 2%;
    }

    .formacao__item {
        width: 90%;
        margin: auto;
        padding: 3% 0;
    }

    .formacao__imagem {
        width: 60%;
    }

    .formacao__imagem--oracle {
        padding: 10% 0;
    }
}