.formacao {
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
    background-color: var(--fundo-amarelo);
}

.formacao__titulo {
    color: var(--azul-titulo);
    margin: 2rem;
}

.formacao__lista {
    display: flex;
    justify-content: space-between;
}

.formacao__item {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    width: 23vw;
    height: 23vw;
}

.formacao__imagem__container {
    display: flex;
    height: 21vw;
    background-color: white;
}

.formacao__imagem {
    margin: auto;
    width: 60%;
    height: 60%;
    align-self: center;
}

.formacao__descricao {
    font-size: 1rem;
    font-weight: 700;
    color: var(--azul-titulo);
    padding: .3rem 0;
}

.formacao__tempo {
    font-size: .8rem;
    font-weight: 400;
    color: var(--azul-texto);
}

/* Tablet */

@media screen and (max-width:1024px) {

    .formacao__item {
        width: 28vw;
    }
}

/* Smartphone */

@media screen and (max-width:768px) {

    .formacao {
        padding-bottom: 0;
    }

    .formacao__lista {
        flex-direction: column;
    }

    .formacao__item {
        width: 90%;
        margin: auto;
        height: 60vw;
    }

    .formacao__imagem__container {
        height: 40vw;
    }

    .formacao__imagem {
        height: 100%;
    }
}