.skills-e-hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.skills,
.hobbies {
    width: 100%;
}

.skills__titulo,
.hobbies__titulo {
    font: 700;
    color: var(--branco-titulo);
    text-align: center;
}

.skills__lista,
.hobbies__lista {
    width: 100%;
    padding: 1.5rem 0 3rem 0;
    display: flex;
    justify-content: space-between;
}

.skills__item,
.hobbies__item {
    position: relative;
    background-color: var(--azul-texto);
    width: 15%;
    padding: 7.5% 0;
    margin: 1rem 0;
    justify-content: end;
    border-radius: 2px;
}

.skills__icone,
.hobbies__icone {
    position: absolute;
    left: 7.5%;
    bottom: 25%;
    font-size: 2rem;
    color: var(--amarelo-escuro);
}

.skills__nome,
.hobbies__nome {
    position: absolute;
    left: 7.5%;
    bottom: 7.5%;
    font-weight: 700;
    color: var(--branco-titulo);
}

/* Tablet */

@media screen and (max-width:1024px) {

    .skills__lista,
    .hobbies__lista {
        flex-wrap: wrap;
        padding: 1.5rem 0;
    }

    .skills__item,
    .hobbies__item {
        width: 30%;
    }

    .skills__icone,
    .hobbies__icone {
        bottom: 30%;
    }

}

/* Smartphone */

@media screen and (max-width:768px) {

    .skills-e-hobbies {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .skills__item,
    .hobbies__item {
        width: 47.5%;
        padding: 15% 0;
    }

    .skills__icone,
    .hobbies__icone {
        bottom: 30%;
    }
}