.skills-e-hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

.skills,
.hobbies {
    width: 100%;
}

.skills__titulo,
.hobbies__titulo {
    color: var(--branco-titulo);
}

.skills__lista,
.hobbies__lista {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 2% 0 5% 0;
}

.skills__item,
.hobbies__item {
    display: flex;
    flex-direction: column;
    width: 15%;
    background-color: var(--azul-texto);
    border-radius: 2px;
}

.skills__icone,
.hobbies__icone {
    padding: 60% 0 0 7%;
    font-size: 2rem;
    color: var(--amarelo-escuro);
}

.skills__nome,
.hobbies__nome {
    padding: 5% 0 7% 7%;
    font-weight: 700;
    color: var(--branco-titulo);
}

/* Tablet */

@media screen and (max-width:1023px) {

    .skills__lista,
    .hobbies__lista {
        flex-wrap: wrap;
        padding: 3% 0;
    }

    .skills__item,
    .hobbies__item {
        width: 31%;
        margin-bottom: 5%;
    }

    .skills__icone,
    .hobbies__icone {
        padding-top: 25%;
    }

}

/* Smartphone */

@media screen and (max-width:767px) {

    .skills-e-hobbies {
        padding: 5% 5%;
    }

    .skills__lista {
        margin-top: 5%;
        margin-bottom: 0;
    }

    .hobbies__lista {
        margin-top: 5%;
    }

    .skills__item,
    .hobbies__item {
        width: 47.5%;
    }
}