.sobre {
    display: flex;
    flex-direction: column;
    background-color: var(--fundo-amarelo);
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.sobre__titulo {
    padding-bottom: 2rem;
    text-align: start;
    color: var(--azul-titulo);
}

.sobre__descricao {
    font-size: 1rem;
    font-weight: 400;
    color: var(--azul-texto);
}

/* Smartphone */

@media screen and (max-width:768px) {
    .sobre {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
}