.sobre {
    display: flex;
    flex-direction: column;
    background-color: var(--fundo-amarelo);
    padding: 4% 10%;
}

.sobre__titulo {
    text-align: start;
    color: var(--azul-titulo);
}

.sobre__descricao {
    padding: 2.5% 0;
    color: var(--azul-texto);
}

/* Tablet */

@media screen and (max-width:1023px) {
    .sobre {
        padding: 4% 5%;
    }
}

/* Smartphone */

@media screen and (max-width:767px) {
    .sobre__descricao {
        padding: 5% 0;
    }
}